
<br>
<h1>{{titulo}}</h1>
<hr>
<div class="row" *ngIf="peliculas">

    <div class="col-md-6">
      <div class="row">
        <div  class="col-md-12 div-pic-1" 
              [ngStyle]="{'background-image': 'url( '+ (peliculas[0] | peliculaimagen ) +' )' }">
        </div>
        <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ (peliculas[1] | peliculaimagen ) +' )' }"></div>
        <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ (peliculas[2] | peliculaimagen ) +' )' }"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ (peliculas[3] | peliculaimagen ) +' )' }"></div>
        <div class="col-md-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ (peliculas[4] | peliculaimagen ) +' )' }"></div>
        <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url( '+ (peliculas[5] | peliculaimagen ) +' )' }"></div>
      </div>
    </div>
      <ul>
        <li *ngFor="let dt of peliculas">{{dt.original_title}}</li>
      </ul>

  </div>